body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
h1{
    font-size: 50px;
}
p {
    color: dimgray;
}
.bold {
    color: orange;
}
.helf-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}    
.helf-width img {
    width: 100%;
}
.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section {
    height: 500px;
}
.button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.bg-banner {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.exper {
    box-shadow: 15px 15px 30px gray;
    border-radius: 5px;
    height: 60%;
}
.experians-aria {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#pro-webdev {
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
    background-color: white;
}
#baby-webdev {
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer {
    text-align: center;
    font-size: 15px;
}
h2 {
    text-align: center;
}